{
  "openapi": "3.1.0",
  "info": {
    "title": "loomloom",
    "description": "HTTP API for executing and managing loomloom AI work through CogFoundry.",
    "version": "market-v1",
    "summary": "",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://loomloom.cogfoundry.ai",
      "description": "CogFoundry production"
    }
  ],
  "tags": [
    {
      "name": "System"
    },
    {
      "name": "Creator Earnings"
    },
    {
      "name": "Creators"
    },
    {
      "name": "Creator Reviews"
    },
    {
      "name": "Input Assets"
    },
    {
      "name": "Market Listings"
    },
    {
      "name": "Market Runs"
    },
    {
      "name": "Models"
    },
    {
      "name": "Official Templates"
    },
    {
      "name": "Assets"
    },
    {
      "name": "Users"
    },
    {
      "name": "Runs"
    },
    {
      "name": "User Templates"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "summary": "Health check",
        "deprecated": false,
        "description": "",
        "tags": [
          "System"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.healthResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/version": {
      "get": {
        "summary": "Service version",
        "deprecated": false,
        "description": "",
        "tags": [
          "System"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.versionResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/loom/v1/creators/me/earnings": {
      "get": {
        "summary": "List creator Market earnings",
        "deprecated": false,
        "description": "",
        "tags": [
          "Creator Earnings"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 100, max 500.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.creatorEarningsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/creators/me/marketListings": {
      "get": {
        "summary": "List creator Market SkillBots",
        "deprecated": false,
        "description": "Returns Market SkillBot listings owned by the authenticated creator, including pending review, rejected, published, and unlisted listings.",
        "tags": [
          "Creators"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword matched against listing title and description.",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 100, max 500.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Opaque pagination token returned by the previous response.",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort expression. Currently supports createdAt desc.",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketListingsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/loom/v1/creators/me/marketListings/{marketListing}": {
      "get": {
        "summary": "Get creator Market SkillBot",
        "deprecated": false,
        "description": "Returns one Market SkillBot owned by the authenticated creator, including private publishing state such as pending review, rejected, published, and unlisted. It does not expose workflow execution specs.",
        "tags": [
          "Creators"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketListingResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/creators/me/marketListings/{marketListing}/versions": {
      "get": {
        "summary": "List creator Market SkillBot versions",
        "deprecated": false,
        "description": "Returns version history for a Market SkillBot owned by the authenticated creator. The response includes status, review, pricing, source template, and hash metadata, but does not expose workflow execution specs.",
        "tags": [
          "Creators"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 100, max 500.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketListingVersionsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/loom/v1/creators/me/marketTransactions": {
      "get": {
        "summary": "List creator Market transactions",
        "deprecated": false,
        "description": "Returns Market SkillBot calls for the authenticated creator, including execution and settlement projection plus matched creator earning when available. It does not expose funding action internals.",
        "tags": [
          "Creators"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 100, max 500.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.creatorMarketTransactionsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/creators/me/marketReviewRequests": {
      "get": {
        "summary": "List my Market review requests",
        "deprecated": false,
        "description": "",
        "tags": [
          "Creator Reviews"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Review status filter",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 100, max 500.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketReviewRequestsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/creators/me/marketReviewRequests/{marketReviewRequest}": {
      "get": {
        "summary": "Get my Market review request",
        "deprecated": false,
        "description": "",
        "tags": [
          "Creator Reviews"
        ],
        "parameters": [
          {
            "name": "marketReviewRequest",
            "in": "path",
            "description": "Market review request ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketReviewRequestResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/creators/me/marketReviewRequests/{marketReviewRequest}:withdraw": {
      "post": {
        "summary": "Withdraw my Market review request",
        "deprecated": false,
        "description": "Withdraws a pending Market review request owned by the authenticated creator. For publish or update_version requests, the pending listing version becomes withdrawn and is no longer executable or sellable. For update_public_profile requests, the listing and published version are unchanged.",
        "tags": [
          "Creator Reviews"
        ],
        "parameters": [
          {
            "name": "marketReviewRequest",
            "in": "path",
            "description": "Market review request ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.withdrawMarketReviewRequestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketReviewRequestResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/inputAssets:upload": {
      "post": {
        "summary": "Upload input asset",
        "deprecated": false,
        "description": "Uploads a controlled raw input asset through Product API. The content field is base64 encoded in JSON.",
        "tags": [
          "Input Assets"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.uploadInputAssetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.inputAssetResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/orchestrationInputs:upload": {
      "post": {
        "summary": "Upload orchestration input",
        "deprecated": false,
        "description": "Uploads a flat JSONL execution input through Product API. The returned inputFileId is the only file ID accepted by template run APIs; inputAssetId values from /inputAssets:upload are not valid here.",
        "tags": [
          "Input Assets"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.uploadOrchestrationInputRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.orchestrationInputResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/marketListings": {
      "get": {
        "summary": "List published Market SkillBots",
        "deprecated": false,
        "description": "",
        "tags": [
          "Market Listings"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword matched against listing title and description.",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 100, max 500.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Opaque pagination token returned by the previous response.",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort expression. Currently supports createdAt desc.",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.publicMarketListingsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "summary": "Publish a Market SkillBot listing",
        "deprecated": false,
        "description": "Creates a new listing or publishes a new immutable listing version from a loomloom template version.",
        "tags": [
          "Market Listings"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.publishMarketListingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketListingResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/marketListings/{marketListing}": {
      "get": {
        "summary": "Get Market SkillBot detail",
        "deprecated": false,
        "description": "Returns one public Market SkillBot listing. Pending, rejected, unlisted, blocked, or otherwise non-public listings are not visible through this buyer-facing route.",
        "tags": [
          "Market Listings"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.publicMarketListingResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/loom/v1/marketListings/{marketListing}:list": {
      "post": {
        "summary": "Restore a Market SkillBot listing",
        "deprecated": false,
        "description": "",
        "tags": [
          "Market Listings"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketListingResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/marketListings/{marketListing}:unlist": {
      "post": {
        "summary": "Unlist a Market SkillBot",
        "deprecated": false,
        "description": "",
        "tags": [
          "Market Listings"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketListingResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/marketListings/{marketListing}:updatePublicProfile": {
      "post": {
        "summary": "Submit Market SkillBot public profile update",
        "deprecated": false,
        "description": "Creates a pending review request for listing public profile fields only. It does not change execution version, input/output contract, pricing, sale status, or transaction facts before approval.",
        "tags": [
          "Market Listings"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.updateMarketListingPublicProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketReviewRequestResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/marketListings/{marketListing}/workbook": {
      "get": {
        "summary": "Download Market SkillBot workbook",
        "deprecated": false,
        "description": "Downloads an Excel workbook for the public input schema of a Market SkillBot. The workbook is generated from the source loomloom template version behind the selected listing version.",
        "tags": [
          "Market Runs"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listingVersionId",
            "in": "query",
            "description": "Market listing version ID. Defaults to the currently published version.",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/marketListings/{marketListing}:execute": {
      "post": {
        "summary": "Execute a Market SkillBot",
        "deprecated": false,
        "description": "Requires confirm=true and a stable clientRequestId for the buyer-confirmed execution attempt. Returns Market transaction context plus loomloom run ID.",
        "tags": [
          "Market Runs"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.executeMarketListingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketContextResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/marketListings/{marketListing}:executeWorkbook": {
      "post": {
        "summary": "Execute Market SkillBot workbook",
        "deprecated": false,
        "description": "Requires confirm=true and a stable clientRequestId for the buyer-confirmed workbook execution attempt.",
        "tags": [
          "Market Runs"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.marketListingWorkbookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketContextResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/marketListings/{marketListing}:quote": {
      "post": {
        "summary": "Quote a Market SkillBot run",
        "deprecated": false,
        "description": "Returns estimated execution cost plus task-level creator fee. Final settlement follows actual loomloom execution cost plus billable task count times task_fixed_fee_t.",
        "tags": [
          "Market Runs"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.quoteMarketListingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketQuoteResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/marketListings/{marketListing}:quoteWorkbook": {
      "post": {
        "summary": "Quote Market SkillBot workbook",
        "deprecated": false,
        "description": "",
        "tags": [
          "Market Runs"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.marketListingWorkbookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketQuoteResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/marketListings/{marketListing}:validateWorkbook": {
      "post": {
        "summary": "Validate Market SkillBot workbook",
        "deprecated": false,
        "description": "",
        "tags": [
          "Market Runs"
        ],
        "parameters": [
          {
            "name": "marketListing",
            "in": "path",
            "description": "Market listing ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.marketListingWorkbookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.templateValidationResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/models": {
      "get": {
        "summary": "List executable models",
        "deprecated": false,
        "description": "Lists model catalog entries for one step type. stepType is required to avoid mixed text/image/video catalogs.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "stepType",
            "in": "query",
            "description": "Step type, for example text-generate, image-generate, or video-generate.",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "description": "Provider filter.",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyAvailable",
            "in": "query",
            "description": "When false, include unavailable known models. Default true.",
            "required": false,
            "example": "",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.modelsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/officialTemplates": {
      "get": {
        "summary": "List official templates",
        "deprecated": false,
        "description": "Returns official workbook-based templates exposed through the loomloom Public API.",
        "tags": [
          "Official Templates"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.officialTemplatesResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/officialTemplates/{officialTemplate}/schema": {
      "get": {
        "summary": "Get official template schema",
        "deprecated": false,
        "description": "",
        "tags": [
          "Official Templates"
        ],
        "parameters": [
          {
            "name": "officialTemplate",
            "in": "path",
            "description": "Official template ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.officialTemplateSchemaResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/officialTemplates/{officialTemplate}/workbook": {
      "get": {
        "summary": "Download official template workbook",
        "deprecated": false,
        "description": "",
        "tags": [
          "Official Templates"
        ],
        "parameters": [
          {
            "name": "officialTemplate",
            "in": "path",
            "description": "Official template ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/officialTemplates/{officialTemplate}:precheckRows": {
      "post": {
        "summary": "Precheck official template rows",
        "deprecated": false,
        "description": "",
        "tags": [
          "Official Templates"
        ],
        "parameters": [
          {
            "name": "officialTemplate",
            "in": "path",
            "description": "Official template ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.officialTemplateRowsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.templatePrecheckResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/officialTemplates/{officialTemplate}:precheckWorkbook": {
      "post": {
        "summary": "Precheck official template workbook",
        "deprecated": false,
        "description": "",
        "tags": [
          "Official Templates"
        ],
        "parameters": [
          {
            "name": "officialTemplate",
            "in": "path",
            "description": "Official template ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.officialTemplateWorkbookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.templatePrecheckResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/officialTemplates/{officialTemplate}:runRows": {
      "post": {
        "summary": "Run official template rows",
        "deprecated": false,
        "description": "",
        "tags": [
          "Official Templates"
        ],
        "parameters": [
          {
            "name": "officialTemplate",
            "in": "path",
            "description": "Official template ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.officialTemplateRowsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.officialTemplateRunResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/officialTemplates/{officialTemplate}:runWorkbook": {
      "post": {
        "summary": "Run official template workbook",
        "deprecated": false,
        "description": "",
        "tags": [
          "Official Templates"
        ],
        "parameters": [
          {
            "name": "officialTemplate",
            "in": "path",
            "description": "Official template ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.officialTemplateWorkbookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.officialTemplateRunResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/officialTemplates/{officialTemplate}:validateRows": {
      "post": {
        "summary": "Validate official template rows",
        "deprecated": false,
        "description": "",
        "tags": [
          "Official Templates"
        ],
        "parameters": [
          {
            "name": "officialTemplate",
            "in": "path",
            "description": "Official template ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.officialTemplateRowsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.templateValidationResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/officialTemplates/{officialTemplate}:validateWorkbook": {
      "post": {
        "summary": "Validate official template workbook",
        "deprecated": false,
        "description": "",
        "tags": [
          "Official Templates"
        ],
        "parameters": [
          {
            "name": "officialTemplate",
            "in": "path",
            "description": "Official template ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.officialTemplateWorkbookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.templateValidationResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/users/me/executables": {
      "get": {
        "summary": "List executable assets",
        "deprecated": false,
        "description": "Returns the caller's executable loomloom assets, including private templates and Market SkillBots.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 100, max 500.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.assetsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/users/me/marketUsages": {
      "get": {
        "summary": "List buyer Market usages",
        "deprecated": false,
        "description": "Returns Market SkillBot calls for the authenticated buyer. It is a buyer-facing usage view, not a raw transaction or funding action API.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 100, max 500.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketUsagesResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/users/me/marketUsages/{marketUsage}": {
      "get": {
        "summary": "Get buyer Market usage",
        "deprecated": false,
        "description": "Returns one Market SkillBot call for the authenticated buyer. Funding actions and creator earning internals are not exposed.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "marketUsage",
            "in": "path",
            "description": "Market usage ID, currently the run_transaction_id",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.marketUsageResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/users/me/runs": {
      "get": {
        "summary": "List loomloom runs with optional Market context",
        "deprecated": false,
        "description": "",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Run status filter",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 50, max 200.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Order by expression",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.listRunsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/users/me/runs/{run}": {
      "get": {
        "summary": "Get loomloom run detail with optional Market context",
        "deprecated": false,
        "description": "",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run",
            "in": "path",
            "description": "loomloom run ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.runDetailResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/users/me/runs/{run}/artifacts": {
      "get": {
        "summary": "List run artifacts",
        "deprecated": false,
        "description": "Returns result artifacts for one loomloom run. The caller's credential is forwarded to loomloom Core for access control.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run",
            "in": "path",
            "description": "Run ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 100, max 200.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.runArtifactsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/users/me/runs/{run}/resultRows": {
      "get": {
        "summary": "List run result rows",
        "deprecated": false,
        "description": "Returns row-level input and result aggregation for one loomloom run. The caller's credential is forwarded to loomloom Core for access control.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run",
            "in": "path",
            "description": "Run ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 50, max 200.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.runResultRowsResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/users/me/runs/{run}/resultWorkbook": {
      "get": {
        "summary": "Download run result workbook",
        "deprecated": false,
        "description": "Downloads an Excel workbook containing run inputs and results. The caller's credential is forwarded to loomloom Core for access control.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "run",
            "in": "path",
            "description": "Run ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      }
    },
    "/loom/v1/users/me/templates": {
      "get": {
        "summary": "List my private templates",
        "deprecated": false,
        "description": "Returns private template summaries for the authenticated user. The response intentionally excludes workflow specs, hidden prompts, runtime config, and Market release package internals.",
        "tags": [
          "User Templates"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Template status filter. Default active.",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size. Default 100, max 500.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageOffset",
            "in": "query",
            "description": "Page offset. Default 0.",
            "required": false,
            "example": "",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.userTemplatesResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.errorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth1": []
          }
        ]
      },
      "post": {
        "summary": "Create my private template",
        "deprecated": false,
        "description": "Creates a private template container. A runnable version is added separately with canonical_spec.",
        "tags": [
          "User Templates"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/server.createUserTemplateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server.userTemplateResponse"
                }
              }
[...]
